@import "dark-theme.scss";

#sidebar{
    position: fixed;
    width: 250px;
    height: 100vh;
    z-index: 1000;
    background-color: $primary-color;
}

#content{
    margin-left: 250px;
}

// input[type="text"]{
//     width:100%;
//     box-sizing: border-box;
// }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 

    #options{
        text-align: left !important;
        margin-top: 1rem !important;
    }

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }


.tag {
    display: inline-block;
    padding: .3em .6em;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    margin-top: .25rem;
    margin-right: .25rem;
}


/*momento gabo sidebar */

.segundaMitad {
    
        border-top:solid 1px #4e4e4e;
        border-bottom:solid 1px #4e4e4e;

    .name-surname {
         font-size:19px;
        }

            .opcionesCarpetas {
                
                a{
                    color:#cbcbcb;
                    font-size:19px;
                    font-weight: lighter;
                   i {
                       margin:10px 10px;
                           color:white
                       }
                    
                }
                
                }
    }
.terceraMitad {
        border-top:solid 1px #4e4e4e;
        

    .name-surname {
         font-size:19px;
        }

            .opcionesCarpetas {
                
                a{
                    color:#cbcbcb;
                    font-size:19px;
                    font-weight: lighter;
                   i {
                       margin:10px 10px;
                           color:white
                       }
                    
                }
                
                }
    }

.content{
  min-height:100vh;
  background-color: #E5E5E5;

  .etiquetas{

   .subtitulo{

        h3{
            
            color:black;
            font-size: 22px;  
            display:flex;
            align-items: flex-end;
            flex-wrap: nowrap;
            font-weight:900;
            font-family: 'Roboto', sans-serif;
            padding:0px;
            margin:0px;
 
            .fa-star{
        
                    align-items: flex-end;
                    background-color:black;
                     color:#ffff;
                    font-size:16px;
                    width:auto;
                    height:auto;
                    padding: 4px;
                    border-radius:4px;
            }
        
            .fa-chevron-down{
            
                    color:$secondary-color;
                    font-size:17px;

                    }
            }
         
    }
}


   .contenido-recordar{
       background-color: $secondary-color;
       border-radius:5px;
           .parteTexto{

                border-bottom:1px solid #cccc;
                padding:10px;
                .texto{
                    margin-bottom:0;
                    p {
                        font-size:15px; 
                        }
                        .fa-pencil-alt {
                            color:white;
                            background-color:$primary-color;
                            font-size:10px;
                            padding:5px;
                            height:20px;
                            width:20px;
                        }
                        .fa-chevron-down{
                            color:white;
                            background-color:$primary-color;
                            height:20px;
                            width:20px;
                            font-size:10px;
                            padding:5px;

                            }
                        .fa-times{
                            color:white;
                            background-color:$primary-color;
                            height:20px;
                            width:20px;    
                            text-align:center;
                            font-size:10px;
                            padding:5px;
                            
                            }        
                        
                    }

               }

           .parteTags{

               padding:10px;
               display:flex;
               flex-direction:row;
               flex-wrap:wrap;

                   .etiquetas{
                       
                       .fa-star{
                           background-color:$primary-color;
                           font-size:16px;
                           width:auto;
                           height:auto;
                           padding: 8px;
                           border-radius:4px;
                           color:#ffff;

                           }

                       }

                       .fa-clock {
                           background-color:$primary-color;
                           padding:8px;
                           border-radius:6px;
                            span {
                                    font-family:roboto;
                                    font-weight:900; 
                                }          
    
                           }    
                               i {
                                   margin:10px 0px 5px 0px;}
                       .categorias{
                           
                           background-color:$primary-color;
                           padding:8px;
                           border-radius:6px;    
                           color:#ffff;    
                           font-size:12px;
                           font-family:roboto;
                           font-weight:900;    
                                   

                           }        
               }   

       }



}

    

