@import "dark-theme.scss";

#sidebar{
    position: fixed;
    width: 250px;
    height: 100vh;
    z-index: 1000;
    background-color: $primary-color;
}

#content{
    margin-left: 250px;
}

// input[type="text"]{
//     width:100%;
//     box-sizing: border-box;
// }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 

    #options{
        text-align: left !important;
        margin-top: 1rem !important;
    }

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }


.tag {
    display: inline-block;
    padding: .3em .6em;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
